<a href="https://colab.research.google.com/github/GTejashwini/Python_codes/blob/main/Pandas_Basis2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

**Attributes**

In [5]:
data = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [6]:
# to get only the column names
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [7]:
#get the column names with datatypes
data.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [8]:
#gives the row label and column names 
data.axes

[RangeIndex(start=0, stop=3000, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [9]:
#gives the no. of rws and columns.....returns a tuple representing dimensions
data.shape

(3000, 9)

In [11]:
#gives the no of dimensions
data.ndim

2

In [13]:
#gives no of elements
data.size

27000

In [15]:
#numerical representation of numpy.. how our data is stored by numpy
data.values

array([[-1.22050e+02,  3.73700e+01,  2.70000e+01, ...,  6.06000e+02,
         6.60850e+00,  3.44700e+05],
       [-1.18300e+02,  3.42600e+01,  4.30000e+01, ...,  2.77000e+02,
         3.59900e+00,  1.76500e+05],
       [-1.17810e+02,  3.37800e+01,  2.70000e+01, ...,  4.95000e+02,
         5.79340e+00,  2.70500e+05],
       ...,
       [-1.19700e+02,  3.63000e+01,  1.00000e+01, ...,  2.20000e+02,
         2.28950e+00,  6.20000e+04],
       [-1.17120e+02,  3.41000e+01,  4.00000e+01, ...,  1.40000e+01,
         3.27080e+00,  1.62500e+05],
       [-1.19630e+02,  3.44200e+01,  4.20000e+01, ...,  2.60000e+02,
         8.56080e+00,  5.00001e+05]])

**Methods**

In [18]:
data.head(5)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [19]:
data.tail(5)

      longitude  latitude  ...  median_income  median_house_value
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[5 rows x 9 columns]

In [20]:
#gives gthe descriptive statistics for numerical columns
data.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [24]:
data.population.min()

5.0

In [23]:
data.population.max()

11935.0

In [25]:
data.std()

longitude                  1.994936
latitude                   2.129670
housing_median_age        12.555396
total_rooms             2155.593332
total_bedrooms           415.654368
population              1030.543012
households               365.422710
median_income              1.854512
median_house_value    113119.687470
dtype: float64

In [28]:
# gives the randam sample data from the population data
data.sample(30)

      longitude  latitude  ...  median_income  median_house_value
2836    -118.03     33.84  ...         5.4746            226400.0
1855    -118.13     34.16  ...         3.6719            227900.0
885     -117.80     33.68  ...         4.4391            306700.0
2114    -121.41     38.60  ...         2.0471            104200.0
2435    -116.96     32.71  ...         2.4567            155000.0
676     -118.25     34.09  ...         3.7500            241700.0
2475    -121.83     37.99  ...         4.7566            142500.0
1395    -122.02     37.53  ...         5.7072            242200.0
302     -118.23     33.93  ...         0.8478            104900.0
2314    -121.08     39.21  ...         2.4811            111800.0
1212    -119.30     36.32  ...         3.3875             92500.0
1311    -121.98     37.28  ...         5.7812            275000.0
700     -118.46     34.17  ...         4.1875            309300.0
1650    -118.61     34.20  ...         5.5191            245800.0
583     -121.88     37.44  ...         5.3994            237900.0
538     -122.55     37.98  ...         3.2930            337500.0
1554    -117.71     34.02  ...         3.6361            157700.0
2489    -121.87     37.26  ...         5.6652            234500.0
846     -122.06     37.68  ...         3.1796            170300.0
305     -119.16     34.20  ...         1.9704            160300.0
2632    -118.95     35.40  ...         3.6875            101700.0
1860    -122.44     37.75  ...         4.0000            375000.0
265     -117.10     32.68  ...         2.0724            107600.0
222     -118.19     33.91  ...         2.6354            128100.0
2725    -120.70     36.99  ...         2.9271             87500.0
2555    -122.06     37.39  ...         3.6875             40000.0
1181    -119.16     34.95  ...         3.0882            148200.0
199     -121.02     37.68  ...         3.9960            114500.0
1343    -117.96     33.68  ...         4.7656            230700.0
512     -122.43     37.78  ...         1.3844            177500.0

[30 rows x 9 columns]

In [29]:
data.dropna()

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [40]:
data[data['housing_median_age']>30]

      longitude  latitude  ...  median_income  median_house_value
1       -118.30     34.26  ...         3.5990            176500.0
5       -119.56     36.51  ...         1.6635             67000.0
6       -121.43     38.63  ...         1.6641             67000.0
9       -118.02     34.08  ...         2.3333            164200.0
10      -118.24     33.98  ...         2.2054            125000.0
...         ...       ...  ...            ...                 ...
2992    -122.33     37.39  ...         6.2263            500001.0
2993    -117.91     33.60  ...         5.1048            500001.0
2994    -117.93     33.86  ...         5.5867            182500.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[1401 rows x 9 columns]

In [50]:
data[['housing_median_age','total_rooms']].agg(['min','max','sem','skew','kurt'])

      housing_median_age   total_rooms
min             1.000000      6.000000
max            52.000000  30450.000000
sem             0.229229     39.355570
skew            0.018513      4.167637
kurt           -0.803784     32.099941

In [52]:
#standard error mean
data.population.sem()

18.815055145917047

In [53]:
data['population'].skew()

2.9496706908288868

In [56]:
data[['population','total_rooms']].kurt()

population     16.443268
total_rooms    32.099941
dtype: float64